<h1>Create a new article</h1>
<form action="/articles" method="post">
  <p>Article title: <input type="text" name="title" id="title">
  Article content: <input type="text" name="content" id="content">
  </p>
  <input type="submit" value="Submit">
</form>