<h1>Create an Article! </h1>
<form method="POST" action="/articles">

  <label>Title:</label>
  <input id="title" type="text" name="title">

   <br/>

  <label>Content:</label>
  <input id="content" type="text" name="content">

  <br/>

  <br/>

  <button id="submit" type="submit" value="submit">Submit</button>

  <br/>

</form>