<h1> Article Title : <%=@article.title%> </h1>
<h2> Article content: </h2> 
<p> <%=@article.content%> </p> 

<p>
<form action="/articles/<%= @article.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</p>
</form>
 